!
{% if port_channel_members is defined %}
{% for port_channel_member in port_channel_members %}
interface {{ port_channel_member.interface }}
 no ip address
 channel-group {{ port_channel_member.channel_group }}
 no shutdown
!
{% endfor %}
{% endif %}
!
